body{
    background-color: rgb(65, 64, 64);
    margin: 0px;
    
}
button{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.image-container{
    height: 10cm;
    display: flex;
    justify-content: center;  
}
.carousel {
  position: relative;
  overflow: hidden;
  float: left;
  max-width: 740px;
  margin: 20px;
 
}
.slides img {
  display: none; /* Hide all images by default */
  
}
.slides img.active {
  display: block; /* Only show the active image */
}
.flex-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.flex-btn{
  flex: 1;
  padding: 10px;
}
video{
  float: right;
  margin: 20px;
}

.name{
  font-size: 25px;
}

#imgText{
  margin-top: 35px;
  margin-right: 20px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  height: 445px;
  
  padding: 15px;

  overflow: hidden;
}
#vidText{
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size:  20px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  height: 390px;

  padding: 15px;

  overflow: hidden;
}
