body{
    background-color: rgb(65, 64, 64);
    margin: 0px;
    
}
button{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 1cm;
    padding: 5%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

img{
    height: 10cm;  
}
.carousel {
  position: relative;
  overflow: hidden;
  max-width: 600px;
}
.slides img {
  display: none; /* Hide all images by default */
  
}
.slides img.active {
  display: block; /* Only show the active image */
}
